[mcu]
# The hardware use PA11/PA12 connect to A133
# Main mcu to handle xyz
serial:/dev/serial/by-id/usb-Klipper_stm32f103xe_39FFDC05304D513305691643-if00
#serial:/dev/ttyACM0
restart_method: command
